<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
<script src="lib/onsen/js/angular/angular.js"></script>
<script src="lib/onsen/js/onsenui.js"></script>
<script src="components/loader.js"></script>
<!-- <script src="/js/feed-reader.js"></script> -->
<link rel="stylesheet" href="components/loader.css">
<script>
ons.bootstrap();
ons.ready(function() {
    // Add another Onsen UI element
    var content = document.getElementById("#my-content");
    content.innerHTML = "<ons-button>Another Button</ons-button>";
    ons.compile(content);
});
</script>

<body>
    <ons-navigator title="Navigator" var="myNavigator">
        <ons-sliding-menu main-page="page1.html" menu-page="menu.html" side="left" max-slide-distance="250px" var="menu">
        </ons-sliding-menu>
        <ons-template id="page0.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-toolbar-button ng-click="menu.toggleMenu()">
                            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Search</div>
                </ons-toolbar>
                <div class="center">
                    <input type="search" class="search-input" placeholder="Keyword"></input>
                </div>
            </ons-page>
        </ons-template>
        <ons-template id="page1.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-toolbar-button ng-click="menu.toggleMenu()">
                            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Updates</div>
                </ons-toolbar>
                <p style="text-align: center; color: #999; padding-top: 100px;">Updates Go Here</p>
                <element onload="pullFeed"></element>
                <div id="updatefeed"></div>
                <div class="toolbar">
                    <div class="button">Reload</div>
                </div>
                <ul id="feed-list"></ul>
                <p id="error-message"></p>
                <element onload="updateList">
                    <script>
                    // function updateList() {
                    //     document.getElementById("demo").innerHTML = "Paragraph changed.";
                    // }
                    //
                    </script>
            </ons-page>
        </ons-template>
        <ons-template id="page2.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-toolbar-button onclick="menu.toggleMenu()">
                            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Calendar</div>
                </ons-toolbar>
                <p style="text-align: center; color: #999; padding-top: 100px;">Calendar goes here</p>
                <element onload="pullCal"></element>
                <div id="calendarfeed"></div>
                <div class="toolbar">
                    <div class="button">Reload</div>
                </div>
                <ul id="feed-list"></ul>
                <p id="error-message"></p>
            </ons-page>
        </ons-template>
        <ons-template id="menu.html">
            <ons-list>
                <ons-list-item modifier="chevron" onclick="menu.setMainPage('page0.html', {closeMenu: true})">
                    Search
                </ons-list-item>
                <ons-list-item modifier="chevron" onclick="menu.setMainPage('page1.html', {closeMenu: true})">
                    Updates
                </ons-list-item>
                <ons-list-item modifier="chevron" onclick="menu.setMainPage('page2.html', {closeMenu: true})">
                    Calendar
                </ons-list-item>
            </ons-list>
        </ons-template>
    </ons-navigator>
    <script>
    $(function pullFeed("https://www.reddit.com/r/uscclubapp.xml") {
        var url = feedurl;
        var $list = $('.updatefeed');
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'xml',
            success: function(data) {
                var $items = $(data).find('item');
                $items.each(function() {
                    var $item = $(this);
                    var link = $item.children('link').text();
                    var title = $item.children('title').text();
                    if (link && title) {
                        $list.append($('<li><a href="' + link + '">' + title + '</a></li>'));
                    }
                });
            }
        });
    });
    </script>
    <script>
    $(function pullCal("https://www.reddit.com/r/uscclubappcal.xml") {
        var url = feedurl;
        var $list = $('.calendarfeed');
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'xml',
            success: function(data) {
                var $items = $(data).find('item');
                $items.each(function() {
                    var $item = $(this);
                    var link = $item.children('link').text();
                    var title = $item.children('title').text();
                    if (link && title) {
                        $list.append($('<li><a href="' + link + '">' + title + '</a></li>'));
                    }
                });
            }
        });
    });
    </script>
</body>